// variables

$bg--color: #eaeaea;
$btn-bg--color: #434a5b;
$json-bg--color: #4c4c4c;
$input-bg--color: #ffffff;
$border-bg--color: #f1f1f1;
$primary-bg--color: #5350ee;
$border-input--color: #ededec;
$font-uniqe--color: #4463b0;
$font-input--color: #9d9d9c;
